<div class="links">
    <h3><span>Express</span>CheckPoint</h3>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/service">Our service</a></li>
        <li><a href="/contact-us">contact-us</a></li>
    </ul>
</div>