<%- include('./partials/header.ejs') %>
    <%- include('./partials/links.ejs') %>
    <div class="service">
        <header>
            <h1><span>our</span><span>service</span></h1>
            <p>To simplify creating HTTP server, request and routing.</p>
            <!-- <div class="dot"></div> -->
        </header>
        <div class="service-card">
            <div class="card">
                <i class="fa-sharp fa-solid fa-code icon"></i>
                <h2 class="card-title">Web Development</h2>
                <p>  
                    Provides broad features for building web and mobile applications. It is used to build a single page, multipage, and hybrid web application.
                </p>
                <button>more <span><i class="fa-solid fa-arrow-right"></i></span></button>
            </div>

            <div class="card">
                <i class="fa-solid fa-server icon"></i>
                <h2 class="card-title">create server</h2>
                <p>  
                    Express.js has list of middleware which makes developers easy to quickly set up servers, define routes, and handle HTTP requests.
                </p>
                <button>more <span><i class="fa-solid fa-arrow-right"></i></span></button>
            </div>
             
            <div class="card">
                <i class="fa-solid fa-laptop icon"></i>
                <h2 class="card-title">rout handlers</h2>
                <p>  
                    Route handlers are the blocks of code that handle logic for your routes. This can be in the form of a function, an array of functions, or combinations of both.
                </p>
                <button>more <span><i class="fa-solid fa-arrow-right"></i></span></button>
            </div>
        </div>
         
    </div>
<%- include('./partials/footer.ejs') %>   