
<%- include('./partials/header.ejs') %>
    <div class="timeout">   
        <h1 class="title">app time out!</h1>
        <h2 class="message">This application, is only available
             during working hours: <br>(Monday to Friday,  from 9am to 5pm).
        </h2>
        <%- include('./partials/footer.ejs') %>  
    </div>
